*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  word-spacing: 5px;
}
p{
  padding: 2.5rem 1rem;
}
.toggle-btn{
  display: none;
}
body{
  /*background-image: url(image/background.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1{
  font-size: 2.5rem;
  color: aliceblue;
  padding: 5rem 0;
  text-align: center;
}
.nav-links{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
h4{
  color:white;
  margin-right: 2rem;
  font-size: 1.5rem;
}
h4 span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px rgb(255, 255, 255);
  font-size: 2.5rem;
}

nav{
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2.5rem;
  background-color: rgb(58, 57, 57);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

li{
  display: inline-block;
  padding: 0 15px;
}

li a{
  transition: all 0.5s ease;
}
li a:hover{
  color: rgb(207, 206, 125);
}
.search-container{
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.search-input{
  border: 0;
  border-style: solid;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 0;
  background: transparent;
  outline: none;
}
.search-button{
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}

/*Dropdown menu*/
.dropdown{
  display: none;
  list-style: none;
  position:absolute;
  height: 0;
  right: 2.5rem;
  top: 80px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open{
  height: 150px;
}
.dropdown li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(58, 57, 57);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 1);
  text-align: center;
  color: white;
  font-size: 1rem;
  z-index: 2;
}

/* PAGE LOADER */

.image-loader-container{
  overflow: hidden;
  background: linear-gradient(90deg, rgb(58, 57, 57), rgb(113, 129, 92));  
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 0;
}
.image-loader{
  display: block;
  position: absolute;
  width: 30%;
  left: 36%;
  top: 18%;
  transform: translate(-50%);
  animation: rotateImage 180s linear infinite;
  z-index: 90;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.075);
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.race-description-container {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50vw - 250px);
  top: 28%;
  border-radius: 10px;
}

.race-description {
  padding: 15px;
  width: 500px;
}

.race-description p {
  text-align: center;
  font-size: 1.5rem;
}

.race-description h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.race-narrative{
  display: none;
}

/*CHARACTER CARD*/

.character-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 2rem 8rem 2rem 8rem;
  background: linear-gradient(90deg, rgb(58, 57, 57), rgb(113, 129, 92));  
}

.card{
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: .5rem;
  font-size: 1.1rem;
  line-height: 2;
  border-radius: 10px;
  display: none; /*for load more function*/
}

/* Display initial cards before Load More */
.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7),
.card:nth-child(8){
 display: block;
}
.name-realm{
  display: flex;
  justify-content: center;
}

.card .name,
.card .realm {
  font-weight: 600;
  margin: 5px;
}

.learn-more-link{
  display: flex;
  max-width: 120px;
  font-style: italic;
  font-size: 1rem;
  color: rgb(124, 123, 123);
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
  border: .15px solid rgb(85, 85, 85);
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  margin: auto;
  
}

.learn-more-link:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(233, 196, 118);
  max-width: 135px;
}

.hide{
  display: none;
}

/* LOAD MORE BUTTON */
#load-more{
  padding: 9px;
  text-align: center;
  color: rgb(124, 123, 123);
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
  border: .15px solid rgb(85, 85, 85);
  border-radius: 20px;
  width: 120px;

}
#load-more:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 196, 118);
  width: 135px;
}
.load-button{
  background: linear-gradient(90deg, rgb(58, 57, 57), rgb(113, 129, 92)); 
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FOOTER*/
footer{
  background-color: rgb(58, 57, 57);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 1);
  text-align: center;
  color: white;
  font-size: 1.5rem;

}

/* Photo race */

.photo-races-containter {
  border: none solid red;
  display: grid;
  margin-top: -16px;
  place-items: center; /*Aligns the content both horizontally and vertically */
  width: 100%;
  height: 50%;
  background: linear-gradient(90deg, rgb(58, 57, 57), rgb(113, 129, 92));  

}

.photo-races {
  display: none;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  /* opacity: 0.8; */
}

/*RESPONSIVE DESIGN*/

@media (max-width:1575px) {
  .race-description-container {
    left: calc(50vw - 250px);
    top: 28%;
  }
  
  .race-description {
    padding: 10px;
    width: 500px;
  }
  
  .race-description p {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .race-description h5 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
  }
}

@media (max-width:1440px) {
  .race-description-container {
    left: calc(50vw - 250px);
    top: 20%;
  }
  
  .race-description {
    padding: 8px;
    width: 450px;
  }
  
  .race-description p {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .race-description h5 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
  }
}


@media (max-width:1310px) {
  .race-description-container {
    left: calc(50vw - 250px);
    top: 18%;
  }
  
  .race-description {
    padding: 5px;
    width: 450px;
  }
  
  .race-description p {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
  
  .race-description h5 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
  }
}

@media (max-width:1145px) {
  .character-cards{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .card{
    font-size: 1rem;
  }
  .race-description-container {
    left: calc(50vw - 250px);
    top: 20%;
  }
  
  .race-description {
    padding: 5px;
    width: 350px;
  }
  
  .race-description p {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .race-description h5 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@media (max-width:1040px){
  .nav-links{
    display: none;
  }
  .toggle-btn{
  display: block;
  color: white;
  transition: all 0.5s ease;
  }
  .toggle-btn:hover{
  cursor: pointer;
  color: rgb(207, 206, 125);
  }
  .dropdown{
  display: block;
  }
}

@media (max-width:996px){
  .character-cards{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .card{
    font-size: 1rem;
  }
  .nav-links{
    display: none;
  }
.toggle-btn{
  display: block;
  color: white;
  transition: all 0.5s ease;
}
.toggle-btn:hover{
  cursor: pointer;
  color: rgb(207, 206, 125);
}
.dropdown{
  display: block;
}
.input-description{
  padding: 0 15%;
}
.race-description-container {
  left: calc(50vw - 250px);
  top: 18%;
}

.race-description {
  padding: 5px;
  width: 350px;
}

.race-description p {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.race-description h5 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
}

@media (max-width:930px){
  .race-description-container {
    left: calc(50vw - 250px);
    top: 18%;
  }
  
  .race-description {
    padding: 5px;
    width: 350px;
  }
  
  .race-description p {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .race-description h5 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@media (max-width:810px){
.dropdown{
  left: 2.5rem;
  width: unset;
}
.input-description{
  padding: 0 15%;
}
h1{
  padding: 5rem 20%;
}
.container{
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}
.container .races{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container .races p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .races p a:hover{
  cursor: pointer;
  font-size: 2.5rem;
}

.calculation{
 flex-direction: column;
}
.race-description-container {
  display: none;
}
nav{
  position: relative;
  height: 150px;
  align-items: start;
  
 }
 .search-container{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
 }
}

@media (max-width:600px){
  .character-cards{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    padding: 2rem 6rem 2rem 6rem;
  }
  .race-description-container {
    display: none;
  }
  nav{
    position: relative;
    height: 150px;
    align-items: start;
    
   }
   .search-container{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 50%);
   }
}

@media (max-width:560px){
  .character-cards{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    padding: 2rem 4rem 2rem 4rem;
  }
  nav{
    position: relative;
    height: 150px;
    align-items: start;
    
   }
   .search-container{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 50%);
   }
   .toggle-btn{
    margin-top: 15px;
  }
  .input-description{
    padding: 0 10%;
  }
  .image-loader{
    width: 30%;
    left: 36%;
    top: 25%;
  }
}